.title{
    font-family:  "Candal", sans-serif;
    padding-top: 40px;
    font-weight: 700;
    font-size: 48px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 100px;
    margin-top: 80px;
    text-align: center;
}