.card{
    // max-width: 600px;

    display: flex;
    flex-direction: column;
    gap: 8px;
    img{
        max-width: 100%;
        border-radius: 20px;
        display: block;

        :nth-child(1){
            aspect-ratio: 1;
            object-fit: cover;
            object-position: center;
        }
    }

    h3{
        font-size: 20px;
        margin-top: 8px;
    }

    b{
        font-size: 24px;
    }
}

.stars {
    display: flex;
    gap: 5px;
    cursor: pointer;

    span {
        font-size: 20px;
        color: gray; 
        transition: color 0.3s ease;
    }

    .activeStar {
        color: gold; 
    }

    .inactiveStar {
        color: gray; 
    }
}
